.address {
   
  @media screen and (min-width: 775px) {
    max-width: 50vw;
  }

  &__title {
    color: $orange;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1.3em;
  }

  &__group {
    display: block;

    @media screen and (min-width: 775px) {
      display: flex;
      flex-grow: 1;
    }
  }
}