.formInput {
  display: flex;
  padding: 20px 15px 20px 0;
  position: relative;
  flex-grow: 1;

  @media screen and (min-width: 775px) {
    max-width: 360px;
    min-width: 320px;
  }

  &__label {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    padding: 5px 0;
  }

  &__input {
    display: block;
    position: relative;
    padding: 10px;
    flex: 1 1 300px;
    border: none;
    border-radius: 2px;

    &:focus{
      outline: 1px solid black;
    }
    
    &::placeholder {
      color: #E2E2E2;
    }
  }
}