.modal {
  background: $off-white;
  position: relative;
  min-height: 100vh;

  &__inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 60px 150px 60px;
    position: relative;
    background-color: $white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(200, 200, 200, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(200, 200, 200, 0.75);
    min-height: calc(100vh - 170px);
  }

  &__title {
    font-size: 2.5rem;
    margin: 0;
    padding: 2.5rem 0 0 0;
  }
  
  &__subtitle {
    font-size: 1.5rem;
    margin: 0;
    padding: 1.5rem 0;
    color: $grey;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 20px;
  }

  &__cross {
    position: relative;
  }

  &__tick {
    position: absolute;
    width: 40px;
    top: 43px;
    left: 140px;
  }
}

.cross-one{
  background-color: black;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
}
.cross-two{
  background-color: black;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  right: 0;
}